@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
#root {
    font-family: 'Pt Serif',sans-serif;
    font-weight: bold;
}

.new-conversation-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 480px;
    height: auto;
    padding: 20px;
    background-color: #a3e635;
    border-radius: 10px;
}

.send-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 130px;
    font-size: 20px;
    padding: 2px;
    color: white;
    border-radius: 15px;
    background-color: #a3e635;
    position: absolute;
    top: 94.5%;
    left: 90%;
}