@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
#root {
    font-family: 'Pt Serif',sans-serif;
    font-weight: bold;
}

.new-conversation-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 480px;
    height: 190px;
    padding: 20px;
    background-color: #a3e635;
    border-radius: 10px;
}

.input-chat {
    width: 1130px;
    position: absolute;
    background-color: #bef26466;
    top: 93%;
    left: 25.5%;
}

.send-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    font-size: 18px;
    padding: 2px;
    color: white;
    border-radius: 10px;
    background-color: #a3e635;
    position: absolute;
    top: 93.5%;
    left: 92%;
}